@layer base;

@import "tailwindcss";

@plugin "daisyui" {
    //themes: splits-light --default, splits-dark --prefers-dark;
    themes: false;

}


@import "./themes/light.css";
@import "./themes/dark.css";