.hero {
    @layer memphis.component {
        @apply grid w-full place-items-center bg-cover bg-center;

        &>* {
            @apply col-start-1 row-start-1;
        }
    }
}

.hero-overlay {
    @layer memphis.component {
        @apply bg-neutral/50 col-start-1 row-start-1 h-full w-full;
    }
}

.hero-content {
    @layer memphis.component {
        @apply isolate flex max-w-[80rem] items-center justify-center gap-4 p-4;
    }
}

/* ═══ Memphis Additions ═══ */

.hero-overlay {
    @layer memphis.modifier {
        background-color: var(--color-dark-overlay);
    }
}