.link {
    @layer memphis.component {
        @apply cursor-pointer underline;

        &:focus {
            @apply outline-hidden;
        }

        &:focus-visible {
            outline: 2px solid currentColor;
            outline-offset: 2px;
        }
    }
}

.link-hover {
    @layer memphis.modifier {
        @apply no-underline hover:underline;
    }
}

.link-primary {
    @layer memphis.modifier {
        @apply text-primary;

        @media (hover: hover) {
            &:hover {
                color: color-mix(in oklab, var(--color-primary) 80%, #000);
            }
        }
    }
}

.link-secondary {
    @layer memphis.modifier {
        @apply text-secondary;

        @media (hover: hover) {
            &:hover {
                color: color-mix(in oklab, var(--color-secondary) 80%, #000);
            }
        }
    }
}

.link-accent {
    @layer memphis.modifier {
        @apply text-accent;

        @media (hover: hover) {
            &:hover {
                color: color-mix(in oklab, var(--color-accent) 80%, #000);
            }
        }
    }
}

.link-neutral {
    @layer memphis.modifier {
        @apply text-neutral;

        @media (hover: hover) {
            &:hover {
                color: color-mix(in oklab, var(--color-neutral) 80%, #000);
            }
        }
    }
}

.link-success {
    @layer memphis.modifier {
        @apply text-success;

        @media (hover: hover) {
            &:hover {
                color: color-mix(in oklab, var(--color-success) 80%, #000);
            }
        }
    }
}

.link-info {
    @layer memphis.modifier {
        @apply text-info;

        @media (hover: hover) {
            &:hover {
                color: color-mix(in oklab, var(--color-info) 80%, #000);
            }
        }
    }
}

.link-warning {
    @layer memphis.modifier {
        @apply text-warning;

        @media (hover: hover) {
            &:hover {
                color: color-mix(in oklab, var(--color-warning) 80%, #000);
            }
        }
    }
}

.link-error {
    @layer memphis.modifier {
        @apply text-error;

        @media (hover: hover) {
            &:hover {
                color: color-mix(in oklab, var(--color-error) 80%, #000);
            }
        }
    }
}